<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>修改列表 </h1>
<textarea>
    <h1>{{title}}</h1>
    <article>
        {{content}}
    </article>
</textarea>

</body>
</html>